{% extends 'base.html' %}

{% block title %}
    ➤ Apple Land ● Інтернет-магазин техніки Apple
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for mod in object_list %}
        <div class="card mb-3">
            <div class="card-header">
                Category: <a href="{{ mod.category.get_absolute_url }}" class="text-dark">{{ mod.category.name }}</a>
            </div>
            <div class="card-body">
                <div class="media-body">
                    {% if mod.image %}
                         <a href="{{ mod.get_absolute_url }}"><img src="{{ mod.image.url }}" alt="" width="350" class="mr-3"></a>
                    {% endif %}
                    <div class="media-body">
                        <a href="{{ mod.get_absolute_url }}"><h5 class="card-title text-dark">{{ mod.name }}</h5></a>
                        <p class="card-text">{{ mod.characteristics|safe|linebreaks|truncatewords:50 }}</p>
                        <h4><p class="card-text">{{ mod.price|safe }} грн</p></h4>
                        <p></p>
                        <a href="{{ mod.get_absolute_url }}" class="btn btn-primary">Купити</a>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}
